.content{
    padding-left: 15px;
    margin-top: 10px;
}

.title{
    font-size: 17px;
    font-weight: bold;
}

.textarea{
    resize: none;
    display: block;
    height: 50px;
    width: 200px;
    margin-top: 5px;

}