.header {
    background: linear-gradient(to top right, #BB48FD, #4538FF);
    display: flex;
    justify-content: space-between;
}

.img {
    max-width: 10rem;
}

.link {
    color: #fff;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}